.input {
  margin-bottom: 8px;

  .input__label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
  }

  .input__required-indicator {
    margin-left: 4px;
    color: orangered;
  }

  .input__field {
    border: 1px solid dimgray;
    border-radius: 4px;
    padding: 8px 8px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
  }

  .input__error {
    color: orangered;
  }
}