.navbar {
  position: sticky;
  top: 0;
  background-color: yellowgreen;

  .navbar__list {
    padding: 12px 32px;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;

    .navbar__link {
      margin-right: 12px;
      position: relative;

      .link {
        transition: all 0.1s;
        border-radius: 8px;
        padding: 4px;
        display: flex;
        color: white;
        font-size: 20px;
        text-decoration: none;

        &:hover {
          background-color: forestgreen;
        }
      }
    }

    .navbar__link--last {
      margin-right: 0;
      margin-left: auto;
    }
  }
}